h1{
    font-family: "Archivo" 
}
button{
    font-family: "Archivo";
     all: unset;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 18px;
    border: 1.5px solid #1c1c1c;
    border-radius: 12px;
    font-family: "Archivo";
    cursor: pointer;
     transition: background-color 0.25s ease, 
                color 0.25s ease, 
                transform 0.25s ease;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;

}

.title_icon{
       display: flex;
       gap: 50px;
       align-items: center;
       cursor: pointer;
}

.nav_links{
    display: flex;
    align-items: center;
    gap: 20px;
    
    
}
.nav_list{
    display: flex;
    list-style-type: none;
    gap: 40px;
    font-family: "Archivo";  
    margin: 0;
    padding: 0;
}

.nav_list a {
    text-decoration: none;
    color: black;
}

.nav_list a:hover{
    color: grey;
}



.request_a_quote:hover{

    background-color: black;
    color: white;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding: 60px 80px;
}

.hero1{
    max-width: 30%;
    padding: 100px;
}

.hero1 h2{
    font-family: "Inter";
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;

}
.hero1 p{
    font-family: "Inter";
    line-height: 33px;
    font-weight: 500;

}

.image_1{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
.image_1 img{
    max-width: 100%;
    height: 65%;
    transform: translateY(-80px); /* sube la imagen */
}

.about{
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin: 0 auto;
    
}

.about_text{
    text-align: center;
    font-family:"Archivo";
    font-size: 30px;

}

.about_content{
    max-width: 40%;
    font-size: 20px;
}
.about_content p{
    font-family: "Inter";
    font-weight: 500;
    
}
.image_2{
  margin-right: 120px;
}
    
   

   
