h1{
    font-family: "Archivo" 
}
button{
    font-family: "Archivo";
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.title_icon{
       display: flex;
       gap: 10px;
       align-items: center;
}

.nav_links{
    display: flex;
    justify-content: end;
    
}
.nav_list{
    display: flex;
    list-style-type: none;
    gap: 40px;
    font-family: "Archivo";  
}

.nav_list a {
    text-decoration: none;
    color: black;
}

.nav_list a:hover{
    color: grey;
}