:root{
    --primary-color: #FFFFFF;
    --secondary-color:#171A1F;
    --accent-color:#9095A0;
    --gray-color: #424955;
    --font-family: "Archivo",serif;
    --background-color:#808080;
}
/* con razon lloraba el niño */
*{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 10px;
    background-color: var(--background-color);
}
/* esta estuvo buena papi */
.navbar_logo_group{ 
    display: flex;
    align-items: center;
    
}

.navbar_logo_group:hover{
    cursor: pointer;

}



.menu{
    display: flex;
    list-style: none;
    justify-content: space-between;

}

.menu_item a{ 
    text-decoration: none;
    padding: 10px;
    color: var(--secondary-color);
}

.menu_item a:hover{
    color:var(--primary-color);
}

.text p{
    color: var(--primary-color);
    position: absolute;
    bottom: 500px;
    left: 150px;
    animation: fadeIn 3s ease;
    
}

.text_title{
    position: absolute;
    left: 450px;
    bottom: 600px;
    color: var(--primary-color);
    animation: fadeIn 3s ease; 
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
}

@keyframes slideInLeft{
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0);
    }
}

.home_screen_1{
    position:absolute;
    bottom: 10px;
    width: 170px;
    left: 145px;
    animation: slideInLeft 0.5s ease-in, fadeIn 3s ease ;
}

.home_screen_2{
    position:absolute;
    bottom: -240px;
    width: 300px;
    left: 350px;
    animation: slideInLeft 0.5s ease-in, fadeIn 3s ease ;
}

.statistics_screen{

    position:absolute;
    bottom: 10px;
    width: 170px;
    left: 690px;
    animation: slideInLeft 0.5s ease-in, fadeIn 3s ease ;

}
.details{
    position: absolute;
    top: 480px;
    left: 420px;
    background-color: var(--primary-color);
    border-radius: 1em;
    padding: 10px;
    width: 200px;
    animation: fadeIn 3s ease;
    border: none;
    
}
.details:hover{
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
}



