version: "3.8"

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: stoicron_user
      POSTGRES_PASSWORD: stoicron_password
      POSTGRES_DB: stoicron_db
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
volumes:
  db_data: